<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<h3>
  <%= t "help_details_1" %>
  <%= link_to t("help_details_link_1"), Settings.links.help_link1 %>.<br>
  <%= t "help_details_2" %>
  <em><%= link_to t("help_link_2"), Settings.links.help_link2 %></em>.
</h3>
